@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

.color-primary {
  color: #1d2130;
}

.text-gradient {
  background: -webkit-linear-gradient(53.94deg, #373fff 15.02%, #3acaf8 82.83%);
  background-clip: text;
  fill: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  h1 {
    @apply font-roboto-bold text-[56px] leading-[56.7px];
  }
  h2 {
    @apply font-roboto-bold text-[48px] leading-[56.7px];
  }
  h3 {
    @apply font-roboto-bold text-[36px] leading-[38.4px];
  }

  h4 {
    @apply font-roboto-bold text-[24px];
  }
  h5 {
    @apply font-roboto-bold text-[18px];
  }
  h6 {
    @apply font-roboto-bold text-[16px];
  }
  p {
    @apply font-roboto text-[16px];
  }
}

@layer components {
  .primary-btn {
    @apply font-roboto-bold font-extrabold text-white bg-primary hover:bg-light-violet hover:text-primary transition-all duration-500 ease-in-out cursor-pointer w-[144px] h-[56px] flex justify-center items-center rounded-xsm text-normal;
  }

  .primary-btn--full-width {
    @apply font-roboto-bold font-extrabold text-white bg-primary hover:bg-light-violet hover:text-primary transition-all duration-500 ease-in-out cursor-pointer w-full h-[56px] flex justify-center items-center rounded-xsm text-normal;
  }

  .primary-btn--fill-white {
    @apply font-roboto-bold font-extrabold text-primary bg-white hover:bg-primary hover:text-white transition-all duration-500 ease-in-out cursor-pointer w-[144px] h-[56px] flex justify-center items-center rounded-xsm text-normal;
  }

  .primary-btn--outline {
    @apply primary-btn--fill-white border-2 border-light-violet;
  }

  .gradient-paragraph {
    @apply text-gradient;
  }

  .paragraph-large {
    @apply text-[18px];
  }

  .nav-input {
    @apply flex gap-3 bg-white w-[576px] mx-auto h-[72px] p-[8px] rounded-sm mt-8 justify-between;
  }

  .home-dashbord-image {
    @apply w-[1024px] h-[666.57px];
  }

  .product-dashboard-image {
    @apply w-[616px] h-[401px] ml-auto;
  }

  .product-nav-gradient {
    @apply w-full h-[555px] absolute object-cover object-center blur-3xl -z-10 top-0 left-0 border border-red-500;
  }

  .service-icon {
    @apply w-[56px] h-[56px];
  }

  .product-image {
    @apply w-[466px];
  }

  .prodcut-background {
    @apply absolute top-0 right-0 bottom-0 w-[522px] h-[522px] -z-10 blur-3xl;
  }

  .pricing-button-container {
    @apply flex gap-3 bg-light-violet w-fit mx-auto h-[72px] p-2 rounded-sm mt-2;
  }

  .pricing-icon {
    @apply w-[54px] h-[54px];
  }

  .pricing-background {
    @apply absolute bottom-0 right-0 w-[900px] h-[900px] object-cover -z-10 blur-3xl;
  }

  .blog-post {
    @apply w-[758px] mx-auto flex flex-col gap-5;
  }

  .blog-background {
    @apply absolute left-0 -z-20 w-[800px] blur-3xl rounded-full;
  }

  .blog-background--fixed-nav-midle {
    @apply top-[30rem];
  }

  .blog-background--fixed-nav-top {
    @apply top-[8rem];
  }
}

.blur-gradient {
  position: absolute;
  width: 524px;
  height: 496px;
  right: 566px;
  top: 100px;
  left: 100px;
  border-radius: 100%;

  background: radial-gradient(
    483.9% 2719.65% at -49.5% -250%,
    #d798e1 17.55%,
    #9bffa5 27.56%,
    #aed3ff 49.89%,
    #c9d4ef 56.53%,
    #cacffa 65.69%
  );
  filter: blur(200px);
}
